{{yield}}

{{#if addNewSuperkid}}
  <h1>NEW SUPERKID</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="name">The Super Name</label>
          {{input value=name id="name"}}
        </div>

        <div class="form-group">
          <label for="age">Their Super Age</label>
          {{input value=age id="age"}}
        </div>

        <div class="form-group">
          <label for="powers">Their Super Powers</label>
          {{input value=powers id="powers"}}
        </div>

        <div class="form-group">
          <label for="rate">Their Menial Wages</label>
          {{input value=rate id="rate"}}
        </div>

        <div class="form-group">
          <label for="image">URL to Show Awesomeness</label>
          {{input value=image id="image"}}
        </div>

        <button {{action 'save'}}>Save</button>
      </form>
    </div>
{{else}}
  <button {{action 'superkidFormShow'}}>ADD SUPERKIDDDDD</button>
{{/if}}
