{{yield}}

<p>This super kid is available for ${{superkid.rate}} per superhour - what a bargain!</p>
<p>They have some amazing powers, such as {{superkid.powers}}.</p>
<p><img src={{superkid.image}} alt={{superkid.name}}></p>
